body {
	background: #2E86AB;
}
.container {
	width: 500px;
	margin: 10% auto 5% auto;
}

h1 {
	color: #fff;
	font-size: 72px;
	text-shadow: .5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align: center;
}

p {
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-shadow: .5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.drums {
	width: 31.3%;
	margin: 0 auto;
}

.column {
	float: left;
}

.circle {
	width: 100px;
	height: 100px;
	background: #B4656F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.q {
	margin-top: 30%;
}

.t {
	margin-top: 30%;
}

.pressed {
	border: 10px dashed green;
}

button {
	color: black;
	font-weight: bold;
}
