body {
	background: #2E86AB;
}
.container {
	width: 500px;
	margin: 10% auto 5% auto;
}

h1 {
	color: #fff;
	font-size: 72px;
	text-shadow: .5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align: center;
}

p {
	color: #fff;
	font-size: 24px;
	text-align: center;
	text-shadow: .5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.drums {
	width: 31.3%;
	margin: 0 auto;
}

.column {
	float: left;
}

.circle {
	width: 100px;
	height: 100px;
	background: #B4656F;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: none;
	outline: none;
}

.q {
	margin-top: 30%;
}

.t {
	margin-top: 30%;
}

.pressed {
	border: 10px dashed green;
}

button {
	color: black;
	font-weight: bold;
}

/* NAV */

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.fixed {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 10%;
	background-color: black;
}

nav ul li {
	list-style: none;
}

nav > ul > li {
	color: white;
	font-size: 24px;
}

.left {
	display: flex;
	flex-direction: row;
	width: 37%;
}

.left > li {
	padding: 4% 0 0 0;
}

.left > li:last-child {
	margin-left: 8%;
}

.right > li {
	 padding: 5% 15% 0 0;
}

nav > ul > li > a {
	color: white;
	text-decoration: none;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.dropdown {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 30%;
}

@media screen and (max-width: 920px) {
	nav {
		justify-content: center;
	}

	.left {
		display: none;
	}
}

@media screen and (max-width: 640px) {
	.left {
		display: none;
	 }

	.hamburger{
		display: flex;
	  width: 100%;
	  background: black;
	  font-family: 'Open Sans', sans-serif;
		justify-content: center;
	 }

	.navicon{
	  font-size: 25px;
	  margin: 5px 15px;
	  color: seashell;
	 }

	.dropdown{
	  padding-left: 0;
	  margin: 0;
	  list-style: none;
	  display: none;
		width: 100%;
	 }

	.dropdown li{
	  font-size: 24px;
	  padding: 15px;
	  width: 100%;
	  background: black;
	  border-bottom: 1px solid black;
	}

	.dropdown li:last-child{
	  border-bottom: none;
	 }

	.dropdown a:hover{
	  background: black;
	 }
}

/* Mobile Portrait */

@media screen and (device-aspect-ratio: 40/71) and (max-device-width: 640px) {
	.left {
		display: none;
	 }

	.hamburger{
		display: flex;
	  width: 100%;
	  background: black;
	  font-family: 'Open Sans', sans-serif;
		justify-content: center;
	 }

	.navicon{
	  font-size: 25px;
	  margin: 5px 15px;
	  color: seashell;
	 }

	.dropdown{
	  padding-left: 0;
	  margin: 0;
	  list-style: none;
	  display: none;
		width: 100%;
	 }

	.dropdown li{
	  font-size: 24px;
	  padding: 15px;
	  width: 100%;
	  background: black;
	  border-bottom: 1px solid black;
	}

	.dropdown li:last-child{
	  border-bottom: none;
	 }

	.dropdown a:hover{
	  background: black;
	 }
}

/* Mobile Landscape */

@media screen and (device-aspect-ratio: 40/71) and (max-device-width: 640px) {

	.left {
		display: none;
	 }

	.hamburger{
		display: flex;
	  width: 100%;
	  background: black;
	  font-family: 'Open Sans', sans-serif;
		justify-content: center;
	 }

	.navicon{
	  font-size: 25px;
	  margin: 5px 15px;
	  color: seashell;
	 }

	.dropdown{
	  padding-left: 0;
	  margin: 0;
	  list-style: none;
	  display: none;
		width: 100%;
	 }

	.dropdown li{
	  font-size: 24px;
	  padding: 15px;
	  width: 100%;
	  background: black;
	  border-bottom: 1px solid black;
	}

	.dropdown li:last-child{
	  border-bottom: none;
	 }

	.dropdown a:hover{
	  background: black;
	 }
}
