.container {
	width: 500px;
	margin: 175px auto;
}

h1 {
	text-align: center;
	padding-bottom: 40px;
}

.column {
	float: left;
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	outline: none;
}

.q {
	margin-top: 50px;
}

.e {
	margin-bottom: 50px;
}
.t {
	margin-top: 50px;
}

.pressed {
	border: 10px dashed green;
}